[Unit]
Description=Out of Band Management
After=oob_mgmt_1.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /opt/scripts/oob_mgmt_2.sh

[Install]
WantedBy=multi-user.target
